*{
	padding: 0;
	margin: 0;
}
body, html{
	padding: 0;	
	height:50%;
  	margin:0;
  	font-size:16px;
  	font-family:"Lato", sans-serif;
  	font-weight:400;
  	line-height:1.8em;
  	color:#666;
	background-color:#111;

}
.showcase{
	width: 100%;
	height: 600%;
	margin: 3px;
	background-image: url(/imgs/wallhaven-393458.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	border:5px solid transparent ;
	border-radius: 10px;

}
.quote{
	color: #ccc;
	text-align: center;
	margin: 0;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 900px;
	height: 100px;
	line-height: 200px;
	
}
.quote h1{
	background-color: #0006;
	border: 5px solid transparent;
	
	width: 100%;
	line-height: normal;
	text-align: center;
	margin: auto;
	margin-top: -100px;
	position: absolute;
	top:50%;
	left: 0;
	
	
	
	color: #0B0B3B;
	font-family:anton,Oxygen;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 200;
	text-shadow: 5px 5px 10px #fff;
}
.quote p {
	width: 100%;
	line-height: normal;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	position: absolute;
	top:50%;
	left: 0;
	
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #FAFAFA;
	text-shadow: 3px 4px 4px #08298A;
}