.container{
	text-align: center;
	width: 600px;
	padding: 30px;
	margin: 40px auto;
	background: #000;
	opacity: 0.7;
	border-radius: 10px;
}
.cont-title{
	margin-top: 100px;
	color: #fff;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}

.cont-title h2{
	font-size: 32px;
	line-height: 10px;
}
form{

	margin-top: 50px;
	transition: all 4s ease-in-out;
	
}
.cntf{
	width: 600px;
	background:transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
	
}
input{
	height: 45px;
}
form .submit{
	background: red;
	border-color: #fff;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	border-radius: 10px;
	height: 50px;
	margin-top: 20px;
}
form .submit:hover{
	background-color:darkred;
	cursor: pointer;
}