*{
padding: 0;
margin: 0;
	box-sizing: border-box;
}
body{
	height: 100px;
	margin: 0;
	background:#959796 url(/imgs/backgrounds/back1.jpeg);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.mainImage{
	width: 400;
	height: 650%;
	background-image: url(http://lorempicsum.com/rio/400/200/7);
/*	background-image: url(/imgs/wallhaven-393458.jpg);*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: none;
	border-bottom-left-radius:30px;
	border-bottom-right-radius: 30px;
	margin-bottom: 10px;
}
.img1{
	width: 98%;
	height:800px;
	background-image:url(/imgs/wallhaven-159518.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border:none;
	border-radius: 20px;
	margin: 15px;

}
.img2{
	width: 98%;
	height:700px;
	border: none;
	border-radius: 20px;
	margin: 15px;
	background-image: url(/imgs/wallhaven-116147.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
}
.container{

	
	background-color: #0005;
	border:none; 
	border-radius: 20px;
	margin-left: 50px;
	margin-right: 15px;
	
}
.myImg{
	
	cursor: pointer;
	transition: 0.5s;
	margin-left: auto;
	margin-right: auto;
}
.myImg:hover{
	opacity: 0.7;
}
img{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px 5px 20px 5px;
	width: 200px;
	background-color: #f3f3f3;
	margin-left: auto;
	margin-right: auto;
}
img:hover{
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.9);
	-webkit-animation: shake 0.5s;
	-o-animation: shake 0.5s;
	animation:shake 0.5s ;
	animation-iteration-count: infinite;
}
@keyframes shake{
	0%{transform: translate(1px, 1px)rotate(0deg);}
	10%{transform: translate(-1px, -2px)rotate(-1deg);}
	20%{transform: translate(-3px, 0px)rotate(1deg);}
	30%{transform: translate(3px, 2px)rotate(0deg);}
	40%{transform: translate(1px, -1px)rotate(1deg);}
	50%{transform: translate(-1px, 2px)rotate(-1px);}
	60%{transform: translate(-3px, 1px)rotate(0deg);}
	70%{transform: translate(3px, 1px)rotate(1deg);}
	80%{transform: translate(-1px, -1px)rotate(1deg);}
	90%{transform: translate(1px, 2px)rotate(0deg);}
	100%{transform: translate(1px, -2px)rotate(-1deg);}
}

